---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    imageSrc: "https://lh3.googleusercontent.com/aida-public/AB6AXuDuuoHtemP0Fi96lAt2pMGsokR-nOY5mkEvXRUqcvjive282gfpQidLDHQHFA7lRHabo8UxSX9DuJ4S05zELQcf2V-vSI4mheS0l-C1VglGzZhJtUi79-3JLosmnhXQFgTIqN_69TRdOJT3TrxZ6fcLsSKxKHxHk0gcwX2llL7K9f8eNWxCR5zlxxMCQYPNmSg7chY185smOcw6T2eCE89BmY2iJCRQ9-ItAbEbkjGzMeRQ2hNa9krRYy2ZMyDQDKSt0EZDsRN3q1mB",
    imageAlt: "HealthTrack Pro",
    tag: "SWIFT + FIREBASE",
    title: "HealthTrack Pro",
    description: "A real-time vitals monitoring system utilizing IoT integration and cloud-based analytics for outpatient care."
  },
  {
    imageSrc: "https://lh3.googleusercontent.com/aida-public/AB6AXuDgEvQZsc1mE_ABQdgE9Qj5Zosqg2cHHUO0CMbesEAODst6t4P4mOyHrMRdu-bngN8pddqDkmr2nn8A2yM4OaYJzzqlco8PT_CNmRlwedOVg5RHTMp527KQh3ACWmBhMmdRx_OtzZgTCwDZLuommFmwYIz5-0iUwKsV8pWuLBxFbfMv25N-S1bqeIuolvD-C4dxZY-nw-fgnQDv6WRDRhFnMQVI3I3GLdMUQSWo0A2ziX_jgM4K8sVz4tVAo9ThGs_Ku2h0SNSoED-T",
    imageAlt: "CloudScale Engine",
    tag: "GO + KUBERNETES",
    title: "CloudScale Engine",
    description: "Distributed system orchestrator focused on horizontal scaling for high-traffic e-commerce APIs during peak loads."
  },
  {
    imageSrc: "https://lh3.googleusercontent.com/aida-public/AB6AXuB8vg-hI-o0yk9dDatRjstTLoNiY_HTEnK2TEmdqsj27osVoAUR4vWuRwJAdJv3uhpzHPS6_NeoWnKeZgh2sbZrnYm-PtnhJVmEhVrfvNJVF9LXusuzeetoPsRN1oKH53Evj5cORMZ2D5OGwA-MucNp1WMMZtwyjozAozZVc3nwIXj90C12_5pPUcrOHn63msXttdk6ffFXOVGuIitO8f_4chaPkTYfbhgM2WiBXd1G-oZ9BOC4wyqGjS74ojJquOBsK05HgmF30PiX",
    imageAlt: "SecureAuth API",
    tag: "PYTHON + FASTAPI",
    title: "SecureAuth API",
    description: "Enterprise-grade authentication wrapper with multi-layer encryption and biometrics support for mobile SDKs."
  }
];
---

<section class="py-[120px] bg-tertiary-container/10" id="projects">
  <div class="max-w-7xl mx-auto px-6">
    <div class="mb-16">
      <span class="font-label-caps text-label-caps text-primary mb-2 block tracking-widest">ENGINEERING SHOWCASE</span>
      <h2 class="font-display text-display text-on-surface">Software Engineering</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-grid-gutter">
      {projects.map(project => (
        <ProjectCard {...project} />
      ))}
    </div>
  </div>
</section>
