---
const { icon, label } = Astro.props;
---

<div class="flex items-center gap-3 bg-primary-container/20 px-5 py-3 rounded-full hover:bg-primary-container/40 transition-colors cursor-default border border-primary-container/30">
  <!-- <span class="material-symbols-outlined text-primary text-xl">{icon}</span> -->
  <i class={`${icon} text-primary text-xl`}></i>
  <span class="font-body-md text-on-primary-container font-semibold">{label}</span>
</div>
